* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: grey;
}
.container {

}

header {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    /* border: black 1px solid; */
}
.judul {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    width: 300px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    /*border: black 1px solid;*/
    animation: judul 4s infinite;
}
@keyframes judul {
    0% {color: red; font-size: 40px;}
    25% {color: pink; font-size: 35px;}
    50% {color: red; font-size: 40px;}
    75% {color: pink; font-size: 35px;}
    100% {color: red; font-size: 40px;}
}
.box-input {
}
.name-input {
    display: inline-block;
}
.poto {
    width: 50px;
    height: 35px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.man input {
    outline: none;
    font-size: 20px;
    width: 150px;
    height: 50px;
    color: skyblue;
    font-weight: 600;
    text-align: center;
    border: none;
    background: none;
    background-color: aliceblue;
    border: 1px pink solid;
    animation: pllll 4s infinite;
}
.woman input {
    outline: none;
    font-size: 20px;
    width: 150px;
    height: 50px;
    color: rgb(221, 82, 106);
    font-weight: 600;
    text-align: center;
    border: none;
    background: none;
    background-color: aliceblue;
    border: 5px pink solid;
    animation: plll 4s infinite;
}
.man input::placeholder {
    color: skyblue;
    animation: pll 3s infinite;
}
.woman input::placeholder {
    color: rgb(221, 82, 106);
    animation: pll 3s infinite;
}
@keyframes plll {
    0% {border: 5px solid skyblue;}
    25% {border: 5px solid red;}
    50% {border: 5px solid skyblue;}
    75% {border: 5px solid red;}
    100% {border: 5px solid skyblue;}
}
@keyframes pllll {
    0% {border: 5px solid red;}
    25% {border: 5px solid skyblue;}
    50% {border: 5px solid red;}
    75% {border: 5px solid skyblue;}
    100% {border: 5px solid red;}
}
@keyframes pll {
    from {color: red;}
    to {color: pink;}
}

.hasil {
    width: 100%;
    height: 150px;
    border-top: solid 2px purple;
    border-left: solid 2px yellow;
    border-bottom: solid 2px red;
    border-right: solid 2px skyblue;
    text-align: center;
}
.loves {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: fit-content;
}
.love {
    text-align: center;
    display: inline-flex;
}
.love img {
    width: 60px;
    height: 50px;
}
.btn {
    margin: auto;
    width: fit-content;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    width: 120px;
    font-size: 15px;
    font-weight: 800;
    background-color: pink;
    border-radius: 12px;
    padding: 12px;
    transition: .3s;
    animation: btn 0.4s infinite;
}
@keyframes btn {
    from {color: red;}
    to {color: white;}
}
button:hover {
    background-color: white;
}
p {
}
.text-hasil {
    margin-top: 35px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.broken {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
.total {
    font-size: 20px;
    font-weight: 800;
}
h3 {

}

@media screen and (max-width: 800px) {
    .box-input {
        width: max-content;
        margin: auto;
    }
}

@media screen and (max-height: 600px) {
    header {
        top: 60%;
    }
}